!=
  this.headTitle('My awesome title ' + this.translate('foo bar'))
       .setSeparator('-')
       .setAutoEscape(false)

!=
  this.headTitle('My awesome title ' + this.translate('foo bar'))
      .setSeparator('-')
      .setAutoEscape(false)